.node {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(175, 216, 248);
}

.start-node {
  background-color: green;
}

.end-node {
  background-color: red;
}

.wall-node {
  background-color: rgb(12, 53, 71);
}
